/nbproject
/.idea

/.docker/mysql

/_log
*.log
/.temp

/node_modules
/vendor

/app/config/keys.neon
/app/config/stage.neon
/app/config/production.neon
/desktop.ini

/www

!.htaccess
!web.config
!**/.gitkeep
