# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

includes:
	- parameters.neon
	- services.neon
	- extensions.neon

php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes

application:
	debugger: true
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

di:
	debugger: true

latte:
	macros:
		- Fazette\Latte\Fa

session:
	expiration: 14 days

search:
	facades:
		in: %appDir%/Models
		extends: Dobine\Facades\DobineFacade
		classes:
			- App\**\*Facade

services:
	router: App\Routers\RouterFactory::createRouter

tracy:
	logSeverity: E_ALL
	maxLength: 500
	maxDepth: 5
	netteMailer: true
