parameters:
	level: 4
	scanDirectories:
		- %currentWorkingDirectory%/app/
		- %currentWorkingDirectory%/tests/

	excludes_analyse:
		- /.temp/*

	fileExtensions:
		- php

includes:
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-nette/extension.neon
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-nette/rules.neon
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-doctrine/extension.neon
