application:
	silentLinks: false

console:
	url: http://localhost/

nettrine.dbal:
	connection:
		host: db
		user: root
		password: 'heslo'
		dbname: sandbox

tracy:
	strictMode: false
	showBar: true
