<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="{$meta["color"]}">
	<meta name="description" content="{$meta["description"]}">
	<meta name="author" content="{$meta["author"]}">
	<meta name="robots" content="{$meta["robots"]}" n:ifset="$meta['robots']">

	<title>{ifset title}{include title|stripHtml} {$meta["separator"]}{else}{$meta["title"]}{/ifset} {$meta["name"]}</title>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<link rel="stylesheet" media="all" href="{$basePath}/dist/libraries.css">
	<link rel="stylesheet" media="screen" href="{$basePath}/dist/style.css">
	{*<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">*}
</head>

<body>
	<header id="header" class="navbar navbar-dark navbar-expand-md" n:ifset="$headerFile">
		<div class="container-fluid">
			{include $headerFile}
		</div>
	</header>

	<main id="main">
		<div class="container-fluid">
			<div class="row">
				{ifset $menuFile}
					{var $cols = "col-sm-8 col-md-9 col-lg-10"}
				{else}
					{var $cols = ""}
				{/ifset}

				<article class="col-12 {$cols}" id="content">
					<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">{$flash->message}</div>
					{include #content}
				</article>

				<aside class="col-12 col-sm-4 col-md-3 col-lg-2 d-print-none" id="menu" n:ifset="$menuFile">
					{include $menuFile}
				</aside>
			</div>
		</div>
	</main>

	<footer id="footer" n:ifset="$footerFile">
		<div class="container-fluid">
			{include $footerFile}
		</div>
	</footer>

	<script src="{$basePath}/node_modules/jquery/dist/jquery.js"></script>
	<script src="{$basePath}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{$basePath}/vendor/hermajan/booty/js/booty.js"></script>
	<script src="{$basePath}/dist/script.js"></script>
	{include #scripts}
</body>
</html>
